@tailwind base;
@tailwind components;
@tailwind utilities;

/* INTER FONT */
/* Font Weight: 400 */
@font-face {
	font-family: 'Inter-Regular';
	src: url('src/assets/fonts/Inter-Regular.ttf') format('truetype');
}

/* Font Weight: 500 */
@font-face {
	font-family: 'Inter-Medium';
	src: url('src/assets/fonts/Inter-Medium.ttf') format('truetype');
}

/* Font Weight: 600 */
@font-face {
	font-family: 'Inter-SemiBold';
	src: url('src/assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

/* Font Weight: 700 */
@font-face {
	font-family: 'Inter-Bold';
	src: url('src/assets/fonts/Inter-Bold.ttf') format('truetype');
}

/* GILROY FONT */
/* Font Weight: 400 */
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
}

/* Font Weight: 500 */
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('src/assets/fonts/Gilroy-Medium.ttf') format('truetype');
}

/* Font Weight: 600 */
@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('src/assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
}

/* Font Weight: 700 */
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('src/assets/fonts/Gilroy-Bold.ttf') format('truetype');
}

/* HELVETICA NEUE */
/* Font Weight: 400 */
@font-face {
	font-family: 'HelveticaNeue-Regular';
	src: url('src/assets/fonts/HelveticaNeue-Regular.ttf') format('truetype');
}

/* Font Weight: 500 */
@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: url('src/assets/fonts/HelveticaNeue-Medium.ttf') format('truetype');
}

/* Font Weight: 700 */
@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('src/assets/fonts/HelveticaNeue-Bold.ttf') format('truetype');
}

/* OPENSANS */
/* Font Weight: 400 */
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('src/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

/* Font Weight: 500 */
@font-face {
	font-family: 'OpenSans-Medium';
	src: url('src/assets/fonts/OpenSans-Medium.ttf') format('truetype');
}

/* Font Weight: 600 */
@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('src/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/* Font Weight: 700 */
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('src/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}
